--[[

Base16 {{scheme-name}}
Scheme author: {{scheme-author}}
Template author: gnsfujiwara (https://github.com/gnsfujiwara)

--]]

return {
  -- Special
  color_foreground = '#{{base05-hex}}',
  color_background = '#{{base00-hex}}',
  color_window_background = '#{{base00-hex}}',
  color_bold = '#{{base05-hex}}',
  color_cursor = '#{{base05-hex}}',
  color_cursor_foreground = '#{{base00-hex}}',
  color_highlight = '#{{base02-hex}}',

  -- Black
  color_0 = '#{{base00-hex}}',
  color_8 = '#{{base03-hex}}',

  -- Red
  color_1 = '#{{base08-hex}}',
  color_9 = '#{{base08-hex}}',

  -- Green
  color_2 = '#{{base0B-hex}}',
  color_10 = '#{{base0B-hex}}',

  -- Yellow
  color_3 = '#{{base0A-hex}}',
  color_11 = '#{{base0A-hex}}',

  -- Blue
  color_4 = '#{{base0D-hex}}',
  color_12 = '#{{base0D-hex}}',

  -- Magenta
  color_5 = '#{{base0E-hex}}',
  color_13 = '#{{base0E-hex}}',

  -- Cyan
  color_6 = '#{{base0C-hex}}',
  color_14 = '#{{base0C-hex}}',

  -- White
  color_7 = '#{{base05-hex}}',
  color_15 = '#{{base07-hex}}',
}
